build/
dist/
*.egg-info/
__pycache__/
*.pyc
due_env/
.DS_Store
*.mat
**/det_model/*
**/gan_model/*
!**/gan_model/*.png
**/model/
**/prior_model/
examples/DampedPendulum/
examples/DampedPendulum_partial/
examples/DampedPendulum_partial_noise/
examples/DoubleOscillator/
examples/Lorenz63/
examples/RobertsonOSG/
examples/ViscousBurgers/
examples/VorticityOSG/
examples/WakeCylinder/
tests/

examples/OU/config_overnight.yaml
examples/OU/det_model_overnight/
examples/OU/gan_model_overnight/
